django

django-ninja
django-ninja-jwt

psycopg[binary]

django-environ

argon2-cffi

django-cors-headers

pillow

django-extensions

gunicorn
whitenoise

pytest
pytest-django
factory-boy

ruff
mypy

pre-commit